*{

    margin: 0;
    padding: 0; 
    font-family: monospace;
  
}
body{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px solid slategrey;
}

header{
 
    background-size: cover;
    display: -moz-inline-grid;
    font-size: large;
    height: auto;
    
}

ul{

float: right;
list-style-type: none;
margin-top: 50px;
}

ul li{

    display: inline ;
}

ul li {

 text-decoration: none;
 color: slategray;
 padding: 3px 5px;
 border: 5px ;
 font-size: x-large;
 border: 1px solid slategrey;
 box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
 

}



ul :hover{

    background-color: black;
    color : #fff;
}

div {
    float:left;
    width: 500px;
    height: 500px;
    margin: 20px 20px;
    display: fill;
    
}
  

  p{
    
      
      font-family:source sans variable;
      font-weight: lighter;
      font-variant: small-caps;
      font-size: xx-large;
      display:block;
      text-align:center;
      padding-top: 30px;
      padding-left: 90px;
      padding-right: 90px;
      padding-bottom: 30px;
      color: #fff;
      background-color: rgb(191,201,208);   
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
    
      
 }
 img{

    float: unset;
    width: 270px;
    height: auto;
    display: block;
    
    
    
 }

 h2 {
  text-align: center;
  color: rgb(191,201,208);
  font-size: x-large;
  padding: 10px 10px;
  margin-left: 200px;
  margin-right: 200px;
  border: 2px solid slategrey;
 }

  .center{
    margin-left: 200px;
    margin-right: auto;
    display: inline-block;
     width: 1000px;
     height: 700px;
     margin-left: 200px;
     margin-right: 200px;
    
    
 }
  

 
 iframe {
    margin-left: 200px;
    margin-right: auto;
    display: block;
    width:1000px;
    height: 700px;
 
}


h3{
    color: rgb(191,201,208);
    text-align: center;
    font-size: x-large;

}


